<a href="https://colab.research.google.com/github/jyw0824/Homework/blob/main/010.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = '홍길동'
age = 17
weight = 70.7
is_bdman = False

In [ ]:
name:str = '홍길동'
age: int = 17
weight: float = 70.7
is_bdman: bool = False

In [ ]:
booklist: list[str] = ['삼국지','수호지','초한지']

In [ ]:
island: tuple[str,float,float] = ('독도',131.52,37.14)

In [ ]:
top4_familyname:dict[str,int] = {'김씨':123456,'나씨':345811,'박씨':963123,'이씨':865909,}

In [ ]:
fruits:set[str]={'사과','배','수박','참외','딸기'}

In [ ]:
print(__annotations__)

{'name': <class 'str'>, 'age': <class 'int'>, 'weight': <class 'float'>, 'is_bdman': <class 'bool'>, 'booklist': list[str], 'island': tuple[str, float, float], 'top4_familyname': dict[str, int], 'fruits': set[str]}

In [ ]:
fruits:set[str] = {'사과','배','수박','참외','딸기'}
fruits = {1,2,3,4,5}
print(fruits)

{1, 2, 3, 4, 5}