<a href="https://colab.research.google.com/github/jyw0824/Homework/blob/main/031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
floatData = 1234.5
intData = int(floatData)
print(f'intData{intData} 자료형은 {type(intData)}입니다.')

intData1234 자료형은 <class 'int'>입니다.

In [ ]:
strData = '1234'
intData = int(strData)
print(f'intData{intData} 자료형은 {type(intData)}입니다.')

intData1234 자료형은 <class 'int'>입니다.

In [ ]:
strData = '1234.5'
intData = int(strData)

ValueError: invalid literal for int() with base 10: '1234.5'

In [ ]:
strData = '1234.5'
floatData = float(strData)
print(f'floatData{floatData} 자료형은 {type(floatData)}입니다.')

floatData1234.5 자료형은 <class 'float'>입니다.

In [ ]:
print(float('2E5'))
print(float('2e-3'))

200000.0
0.002

In [ ]:
intData = 1234; strData1 = str(intData)
floatData1 = 1234.5; strData2 = str(floatData1)
floatData2 = 1e-3; strData3 = str(floatData2)
print(f'정수{intData} => 문자열 {strData1},{type(strData1)}')
print(f'정수{floatData1} => 문자열 {strData2},{type(strData2)}')
print(f'정수{floatData2} => 문자열 {strData3},{type(strData3)}')

정수1234 => 문자열 1234,<class 'str'>
정수1234.5 => 문자열 1234.5,<class 'str'>
정수0.001 => 문자열 0.001,<class 'str'>